<h1>Sell your books here!</h1>
<p>Get cash now!</p>

<body>
	<div class="input-group">
      <input type="text" class="form-control" placeholder="Enter ISBN, Title or Author" aria-label="Enter ISBN, Title or Author">
      <span class="input-group-btn">
        <button type="button" class="btn btn-primary">Post and sell</button>
      </span>
    </div>
</br>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSk6G0P3qiNLxphD_scyvciRqhzfHvxro1_Gl5TQVRtz9TkRIz9" class="rounded float-left" width="304" height="256" alt="...">
</br>
	<img src="https://media.acecash.com/~/media/ACE/Images/hand-money-il.ashx?h=476&amp;w=475&amp;la=en&amp;hash=63863FCCBAA5FD68D870EEC6C653211BAC6C27BF" width="304" height="256" class="rounded float-right" alt="...">

</body>