<h1>SellBooks#index</h1>
<p>Find me in app/views/sell_books/index.html.erb</p>


<body>
	

	<div class="input-group">
      <input type="text" class="form-control" placeholder="Enter ISBN, Title or Author" aria-label="Enter ISBN, Title or Author">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button">Go!</button>
      </span>
    </div>
    
</body>