<!DOCTYPE html>
<html>
<head>
	<h1>Search for Books</h1>
</head>
<body>

	<br><br>

<center>
	<form action="/results" method="post">
    <input class="form-control" type="text" name="search" placeholder="ISBN, Title or Author">
    <input type="submit" value="Search" type="button" class="btn btn-outline-primary"></input>
    </form>
</center>

</body>
</html>


