<!DOCTYPE html>
<html>
<head>
	New search
</head>
<body>

	<form action="/results" method="post">
    <input type="text" name="search">
    <input type="submit" value="Search" type="button" class="btn btn-outline-primary"></input>
    </form>

</body>
</html>


