<!DOCTYPE html>
<html>
<head>
	New search
</head>
<body>

	<form action="/results" method="post">
  title: <input type="text" name="search"><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>