<center><h1>Support Page</h1></center></br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <h4>Frequent Q&A</h4></br>
      <p><strong>Q</strong>: Is the costumer safe to buy of this website? </p>
      <p><strong>A</strong>: Yes, every transaction is done through Paypal and is as safe as buying of other big websites that use Paypal.</p></br>
      <p><strong>Q</strong>: How to purchase an item on this site?</p>
      <p><strong>A</strong>: Sign into your account and under the tab Search you enter the book you are looking for and press the buy tab.</p></br>
      <p><strong>Q</strong>: How to post a book for sell?</p>
      <p><strong>A</strong>: Using your account Search the book you want to sell and choose the option sell. Fill out everything needed.</p>
    </div>
    <div class="col-sm">
      <h4>Returns</h4></br>
      <p>We have a no returns policy due to the fact that you are making transactions with other parties. If you want to return an item you must get together with the other party to make an arrangement.(The percentage charged in the transaction my University Trades will no be refunded) Thank you for purchases!</p>
      <div class="text-center">
  		<img src="https://i.pinimg.com/736x/82/21/68/82216842a648722a3256281a4f7695db--happy-greetings-have-a-great-day.jpg" class="rounded" width="100" height="100">
	</div>
    </div>
    <div class="col-sm">
      <h4>Contact Information</h4>
      <p><strong>Telephone</strong> 1(800)-SELL-BOOK</p>
      <p><strong>Email</strong> UniversityTrades@Trades.com</p>
      <p><strong>Location</strong>Edinburg Texas 78541</p>
    </div>
  </div>
</div>