<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<h1>Welcome Back <%= current_user.email %>!</h1>
	
<center>
	<div class="container">
  <div class="row">
    <div class="col">
      <p>Books you posted for sale</p>

     <% if @toSell == nil %>
      <% @toSell.each do |w| %>
		<%= w.book.title %>
		<%end%>
		<%else%>
		<p>You have not posted any books for sale</p>

		<%end%>
	


    </div>
    <div class="col">
     <p>Books you posted to buy</p>
    </div>
  </div>
</div>
</center>



</body>
</html>