<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	
	<h1>ItemSearch#index</h1>
	<p>Find me in app/views/item_search/index.html.erb</p>

<center>
	<form action="/create" method="post" target="_blank">
	<input type="text" name="search" placeholder="Search..">
	<a href="/">Submit</a>
</center>

</body>
</html>