<!DOCTYPE html>
<html>
<head>
	
</head>
<body>

	<p>Books you want to buy</p>
	<%if @wants.count != 0 %>
	<% @wants.each do |w| %>

	<p><%= w.book.name %></p>

	<%end%>
	<%else%>
		<p>Currently you are not buying anybooks</p>
		
	<%end%>
	<a href="/search">Search to buy</a>


</body>
</html>