<h1>Buy books here!</h1>
<p>Search book desired </p>

<body>
	<div class="input-group">
      <input type="text" class="form-control" placeholder="Enter ISBN, Title or Author" aria-label="Enter ISBN, Title or Author">
      <span class="input-group-btn">
       <button type="button" class="btn btn-success">Search</button>
    </div>
</br>
	
	<center><img src="https://s-i.huffpost.com/gen/3189570/images/n-LAW-628x314.jpg" class="img-fluid" alt="Responsive image"></center>
</br>

</body>
